:root {
  --foundation-orangelight: rgba(255, 241, 230, 1);
  --foundation-orangelight-hover: rgba(255, 233, 217, 1);
  --foundation-orangelight-active: rgba(254, 210, 176, 1);
  --foundation-orangenormal: rgba(253, 111, 0, 1);
  --foundation-orangenormal-hover: rgba(228, 100, 0, 1);
  --foundation-orangenormal-active: rgba(202, 89, 0, 1);
  --foundation-orangedark: rgba(190, 83, 0, 1);
  --foundation-orangedark-hover: rgba(152, 67, 0, 1);
  --foundation-orangedark-active: rgba(114, 50, 0, 1);
  --foundation-orangedarker: rgba(89, 39, 0, 1);
  --foundation-blacklight: rgba(230, 230, 230, 1);
  --foundation-blacklight-hover: rgba(217, 217, 217, 1);
  --foundation-blacklight-active: rgba(176, 176, 176, 1);
  --foundation-blacknormal: rgba(0, 0, 0, 1);
  --foundation-blacknormal-hover: rgba(0, 0, 0, 1);
  --foundation-blacknormal-active: rgba(0, 0, 0, 1);
  --foundation-blackdark: rgba(0, 0, 0, 1);
  --foundation-blackdark-hover: rgba(0, 0, 0, 1);
  --foundation-blackdark-active: rgba(0, 0, 0, 1);
  --foundation-blackdarker: rgba(0, 0, 0, 1);
  --foundation-whitelight: rgba(254, 254, 254, 1);
  --foundation-whitelight-hover: rgba(254, 254, 254, 1);
  --foundation-whitelight-active: rgba(253, 253, 253, 1);
  --foundation-whitenormal: rgba(248, 248, 248, 1);
  --foundation-whitenormal-hover: rgba(223, 223, 223, 1);
  --foundation-whitenormal-active: rgba(198, 198, 198, 1);
  --foundation-whitedark: rgba(186, 186, 186, 1);
  --foundation-whitedark-hover: rgba(149, 149, 149, 1);
  --foundation-whitedark-active: rgba(112, 112, 112, 1);
  --foundation-whitedarker: rgba(87, 87, 87, 1);
  --foundation-greylight: rgba(233, 233, 233, 1);
  --foundation-greylight-hover: rgba(221, 221, 221, 1);
  --foundation-greylight-active: rgba(185, 185, 185, 1);
  --foundation-greynormal: rgba(30, 30, 30, 1);
  --foundation-greynormal-hover: rgba(27, 27, 27, 1);
  --foundation-greynormal-active: rgba(24, 24, 24, 1);
  --foundation-greydark: rgba(23, 23, 23, 1);
  --foundation-greydark-hover: rgba(18, 18, 18, 1);
  --foundation-greydark-active: rgba(13, 13, 13, 1);
  --foundation-greydarker: rgba(11, 11, 11, 1);
}
